<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
    <table border="1" cellpadding="5">
        <tr>
            <th>User name</th>
            <th>UUID</th>
        </tr>
        <div th:each="user : ${users}">
            <tr>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getId()}"></td>
            </tr>
        </div>
    </table>
    <br/>
    <a href="/">Add another user</a>
</body>
</html>